<!DOCTYPE html>
<html lang="en">
  <!-- Basic -->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Mobile Metas -->
    <meta
      name="viewport"
      content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <!-- Site Metas -->
    <title>The Arabic Oud Instrument</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- Site Icons -->
    <link
      rel="shortcut icon"
      href="../static/images/favicon.ico"
      type="image/x-icon"
    />
    <link rel="apple-touch-icon" href="../static/images/apple-touch-icon.png" />

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="../static/css/pogo-slider.min.css " />
    <!-- Site CSS -->
    <link rel="stylesheet" href="../static/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="../static/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/custom.css" />
    <!-- Chat Button CSS -->
    <link rel="stylesheet" href="../static/css/ChatButtonStyle.css" />

        <link rel="stylesheet" href="../static/css/tailwind.min.css" />
    <!-- <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    /> -->
  </head>
  <body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
    <!-- LOADER -->
    <div id="preloader">
      <div class="preloader pulse">
        <i class="fa fa-heartbeat" aria-hidden="true"></i>
      </div>
    </div>
    <!-- end loader -->
    <!-- END LOADER -->

    <!-- Start header -->
    <header class="top-header">
      <nav class="navbar header-nav navbar-expand-lg">
        <div class="container">
          <!-- <a class="navbar-brand" href="index.html"><img src="../static/images/logo.png" alt="image"></a> -->
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-wd"
            aria-controls="navbar-wd"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span></span>
            <span></span>
            <span></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-end"
            id="navbar-wd"
          >
            <ul class="navbar-nav">
              <li><a class="nav-link active" href="#home">Home</a></li>
              <li><a class="nav-link" href="#TypesOfOud">Types of oud</a></li> 
                           <li><a class="nav-link" href="#OudStory">Oud Story</a></li>
              <li><a class="nav-link" href="#OudDesign">Design of the Oud</a></li>
              <li><a class="nav-link" href="#PlayingTechniques">Playing Techniques</a></li> 
               <li><a class="nav-link" href="#gallery">Gallery</a></li>
              <li><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- End header -->

    <!-- Start Banner -->
    <div class="ulockd-home-slider">
      <div class="container-fluid">
        <div class="row">
          <div class="pogoSlider" id="js-main-slider">
            <div
              class="pogoSlider-slide"
              data-transition="zipReveal"
              data-duration="1500"
              style="
                background-image: url(../static/images/sliders/slider-01.jpg);
              "
            >
              <div class="lbox-caption">
                <div class="lbox-details">
                  <!-- <h1>#Leida & #Dominic</h1>
								<h2>We're getting married</h3>
								<p>Save The Date <strong>20 June 2018</strong></p> -->
                  <!-- <a href="#" class="btn ">Contact</a> -->
                </div>
              </div>
            </div>

            <div
              class="pogoSlider-slide"
              data-transition="blocksReveal"
              data-duration="1500"
              style="
                background-image: url(../static/images/sliders/slider-02.jpg);
              "
            >
              <div class="lbox-caption">
                <div class="lbox-details">
                  <h1>Oud. An Icon of Musical Tradition</h1>
                  <!-- <h2>We're getting married</h3> -->
                  <p>
                    <strong
                      >The Arabic Oud, known as the "king of instruments" in
                      Middle Eastern music, has a rich cultural heritage dating
                      back to ancient Mesopotamia and Egypt.</strong
                    >
                  </p>
                  <!-- <a href="#" class="btn ">Contact</a> -->
                </div>
              </div>
            </div>

            <div
              class="pogoSlider-slide"
              data-transition="fade"
              data-duration="2000"
              style="
                background-image: url(../static/images/sliders/slider-03.jpg);
              "
            >
              <div class="lbox-caption">
                <div class="lbox-details">
                  <h1>Oud. An Icon of Musical Tradition</h1>
                  <!-- <h2>We're getting married</h3> -->
                  <p>
                    <strong
                      >With its pear-shaped body, fretless neck, and melodious
                      sound, the Oud has been a vital component of Arabic,
                      Turkish, and Persian musical traditions</strong
                    >
                  </p>
                  <!-- <a href="#" class="btn ">Contact</a> -->
                </div>
              </div>
            </div>

            <div
              class="pogoSlider-slide"
              data-transition="fadeFold"
              data-duration="1500"
              style="
                background-image: url(../static/images/sliders/slider-04.jpg);
              "
            >
              <div class="lbox-caption">
                <div class="lbox-details">
                  <h1>Oud. An Icon of Musical Tradition</h1>
                  <!-- <h2>We're getting married</h3> -->
                  <p>
                    <strong
                      >Its name, al-oud, means "the wood" in Arabic, and it is
                      considered one of the oldest musical instruments in Arab
                      culture. Some believe it is the ancestor of the Pharaohnic
                      Egyptian Nefer or the ancient Persian barbat, while others
                      see it as the predecessor of the European lute.
                    </strong>
                  </p>
                  <!-- <a href="#" class="btn ">Contact</a> -->
                </div>
              </div>
            </div>

            <div
              class="pogoSlider-slide"
              data-transition="fade"
              data-duration="1500"
              style="
                background-image: url(../static/images/sliders/slider-05.jpg);
              "
            >
              <div class="lbox-caption">
                <div class="lbox-details">
                  <h1>Historical, Origins and Evolution</h1>
                  <!-- <h2>We're getting married</h3> -->
                  <p>
                    <strong
                      >The oud originated in ancient Mesopotamia and evolved
                      over millennia through influences from civilizations like
                      the Babylonians, Assyrians, Persians, and Arabs. It
                      features a pear-shaped body, short neck, and fretless
                      fingerboard.
                    </strong>
                  </p>
                  <!-- <a href="#" class="btn ">Contact</a> -->
                </div>
              </div>
            </div>

            <div
              class="pogoSlider-slide"
              data-transition="Blinds"
              data-duration="2000"
              style="
                background-image: url(../static/images/sliders/slider-06.jpg);
              "
            >
              <div class="lbox-caption">
                <div class="lbox-details">
                  <h1>Historical, Origins and Evolution</h1>
                  <!-- <h2>We're getting married</h3> -->
                  <p>
                    <strong
                      >Its journey continued through various civilizations,
                      initially known as the "barbat" in ancient Persia and
                      spread across the Arab world during the Islamic Golden
                      Age. <br />By the 9th century, it had become prominent in
                      Arab music, gaining further recognition during the Ottoman
                      Empire and influencing Turkish classical music.
                    </strong>
                  </p>
                  <!-- <a href="#" class="btn ">Contact</a> -->
                </div>
              </div>
            </div>

            <div
              class="pogoSlider-slide"
              data-transition="zipReveal"
              data-duration="1500"
              style="
                background-image: url(../static/images/sliders/slider-07.jpg);
              "
            >
              <div class="lbox-caption">
                <div class="lbox-details">
                  <h1>Historical, Origins and Evolution</h1>
                  <!-- <h2>We're getting married</h3> -->
                  <p>
                    <strong
                      >During the Islamic Golden Age, significant advancements
                      in construction and playing techniques occurred, thanks to
                      Persian and Arab musicians. These advancements,
                      incorporating mathematical principles and refining playing
                      techniques, laid the foundation for the classical Arabic
                      music tradition. Regional styles emerged over time,
                      enriching the oud's repertoire.
                    </strong>
                  </p>
                  <!-- <a href="#" class="btn ">Contact</a> -->
                </div>
              </div>
            </div>

            <div
              class="pogoSlider-slide"
              data-transition="bar"
              data-duration="1500"
              style="
                background-image: url(../static/images/sliders/slider-08.jpg);
              "
            >
              <div class="lbox-caption">
                <div class="lbox-details">
                  <h1>Design and Construction</h1>
                  <!-- <h2>We're getting married</h3> -->
                  <p>
                    <strong
                      >The Arabic Oud is a masterpiece that harmoniously
                      combines simplicity with intricate craftsmanship,
                      showcasing meticulous attention to detail. Crafted from
                      carefully selected woods such as walnut, rosewood, or
                      mahogany, its rounded back emanates warmth, while the
                      intricately carved cedar or spruce soundboard, embellished
                      with delicate rosettes, exemplifies the artisan's
                      expertise.
                    </strong>
                  </p>
                  <!-- <a href="#" class="btn ">Contact</a> -->
                </div>
              </div>
            </div>

            <div
              class="pogoSlider-slide"
              data-transition="fade"
              data-duration="2000"
              style="
                background-image: url(../static/images/sliders/slider-09.jpg);
              "
            >
              <div class="lbox-caption">
                <div class="lbox-details">
                  <h1>Design and Construction</h1>
                  <!-- <h2>We're getting married</h3> -->
                  <p>
                    <strong
                      >The fretless neck allows for microtonal nuances essential
                      in Arabic music, accompanied by nylon or gut strings
                      stretched over wooden pegs or tuning machines.
                      Painstakingly created by skilled artisans, the Oud's
                      fretless fingerboard enables nuanced expression, while its
                      distinctive rosettes enhance both its visual appeal and
                      acoustic performance, resulting in a deeply enriching
                      musical experience.
                    </strong>
                  </p>
                  <!-- <a href="#" class="btn ">Contact</a> -->
                </div>
              </div>
            </div>

            <div
              class="pogoSlider-slide"
              data-transition="circles"
              data-duration="1500"
              style="
                background-image: url(../static/images/sliders/slider-10.jpg);
              "
            >
              <div class="lbox-caption">
                <div class="lbox-details">
                  <h1>Design and Construction</h1>
                  <!-- <h2>We're getting married</h3> -->
                  <p>
                    <strong
                      >The sound of the Oud resonates from within its hollow
                      body, composed of a rounded back enclosed with a flat
                      soundboard, while the back consists of 15-25 strips of
                      wood. Typically, the open side of the back is adorned with
                      a rosette.
                    </strong>
                  </p>
                  <!-- <a href="#" class="btn ">Contact</a> -->
                </div>
              </div>
            </div>

            <div
              class="pogoSlider-slide"
              data-transition="blocksReveal"
              data-duration="1500"
              style="
                background-image: url(../static/images/sliders/slider-11.jpg);
              "
            >
              <div class="lbox-caption">
                <div class="lbox-details">
                  <h1>Design and Construction</h1>
                  <!-- <h2>We're getting married</h3> -->
                  <p>
                    <strong
                      >The Oud boasts two distinctive features: its pear-shaped
                      body and fretless neck. Additionally, the body of the
                      instrument contains 1-3 sound holes, often decorated with
                      purfling, without compromising its sound quality.
                      Resembling a large gourd, the Oud's body comprises a
                      complex assembly of thin wood staves, while the upper
                      portion is crafted from lightweight wood.
                    </strong>
                  </p>
                  <!-- <a href="#" class="btn ">Contact</a> -->
                </div>
              </div>
            </div>

            <div
              class="pogoSlider-slide"
              data-transition="fade"
              data-duration="2000"
              style="
                background-image: url(../static/images/sliders/slider-12.jpg);
              "
            >
              <div class="lbox-caption">
                <div class="lbox-details">
                  <h1>Playing Techniques</h1>
                  <!-- <h2>We're getting married</h3> -->
                  <p>
                    <strong
                      >Mastering the oud requires years of dedication and
                      practice, as it demands a delicate balance of technique,
                      intuition, and musicality. Unlike fretted instruments,
                      such as the guitar, the oud's fretless design necessitates
                      precise finger placement to produce accurate pitches.
                      Musicians employ a combination of plucking and strumming
                      techniques, using a plectrum, or "risha," made of various
                      materials such as plastic, tortoiseshell, or horn.
                    </strong>
                  </p>
                  <!-- <a href="#" class="btn ">Contact</a> -->
                </div>
              </div>
            </div>

            <div
              class="pogoSlider-slide"
              data-transition="circles"
              data-duration="2000"
              style="
                background-image: url(../static/images/sliders/slider-13.jpg);
              "
            >
              <div class="lbox-caption">
                <div class="lbox-details">
                  <h1>Playing Techniques</h1>
                  <!-- <h2>We're getting married</h3> -->
                  <p>
                    <strong
                      >The oud's tuning system, typically consisting of five
                      pairs of strings with a single bass string, allows for
                      versatility in playing various maqamat (melodic modes) and
                      rhythms. Advanced players often explore intricate
                      ornamentations, such as trills, slides, and vibrato, to
                      embellish melodies and express their artistic creativity.
                    </strong>
                  </p>
                  <!-- <a href="#" class="btn ">Contact</a> -->
                </div>
              </div>
            </div>
          </div>
          <!-- .pogoSlider -->
        </div>
      </div>
    </div>

    <!-- End Banner -->

        <!-- Start About us -->
    <div id="TypesOfOud" class="about-box">
      <div class="about-a1">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <br />
              <div class="title-box">
                <h2>Types of Oud</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="row align-items-center about-main-info">
                <div class="col-lg-8 col-md-6 col-sm-12">
                  <h2>Arabic <span>ouds</span></h2>
                  <p>
                    Arabic ouds are found commonly throughout North Africa, and
                    Lebanon and Jordan, Iraq and Iran, as well as throughout the
                    Arabian Peninsula. There’s a very romantic sound produced by
                    these instruments, with deep, round, and well-balanced sound
                    qualities that are different and distinct from the ones
                    produced by Turkish ouds.
                  </p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="about-img">
                    <img
                      class="img-fluid rounded"
                      src="../static/images/Arabic_Oud.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="row align-items-center about-main-info">
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="about-img">
                    <img
                      class="img-fluid rounded"
                      src="../static/images/Turkish_Oud.jpg"
                      alt=""
                    />
                  </div>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12">
                  <h2>Turkish <span>ouds</span></h2>
                  <p>
                    Turkish ouds, on the other hand, are typically found in
                    Turkey as well as in Greece. They have a brighter sound, a
                    more energetic sound, and a sound that is usually tuned to
                    an entire step higher than Arabic ouds with a lot more
                    tension in the strings that produce sounds and higher
                    frequencies.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End About us -->

        <!-- Start Story -->
    <div id="OudStory" class="story-box main-timeline-box">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="title-box">
              <h2>Oud Story</h2>
            </div>
          </div>
        </div>
        <div class="row timeline-element separline">
          <div class="timeline-date-panel col-xs-12 col-md-6 align-left">
            <div class="time-line-date-content">
              <p class="mbr-timeline-date mbr-fonts-style display-font">
               Pre-Islamic Era
              </p>
            </div>
          </div>
          <span class="iconBackground"></span>
          <div class="col-xs-12 col-md-6 align-left">
            <div class="timeline-text-content">
              <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">
                 Ancient Roots
              </h4>
              <p class="mbr-timeline-text mbr-fonts-style display-7">
                 
                       Origins: The oud's history can be traced back to ancient Mesopotamia (modern-day Iraq) and Egypt, dating as far back as 3000 BCE. <br/>
                    Development: It evolved from similar instruments like the Assyrian "kithara" and the Persian "barbat," gradually gaining popularity across the Middle East.
              </p>
            </div>
          </div>
        </div>
        <div class="row timeline-element reverse separline">
          <div class="timeline-date-panel col-xs-12 col-md-6 align-left">
            <div class="time-line-date-content">
              <p class="mbr-timeline-date mbr-fonts-style display-font">
                8th to 14th Century
              </p>
            </div>
          </div>
          <span class="iconBackground"></span>
          <div class="col-xs-12 col-md-6 align-left">
            <div class="timeline-text-content">
              <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">
                Islamic Golden Age
              </h4>
              <p class="mbr-timeline-text mbr-fonts-style display-7">
                <ul>
                  <li>
                        Flourishing Period: During the Islamic Golden Age, which spanned from the 8th to the 14th century, the oud experienced significant advancements in its design, construction, and playing techniques.
                  </li>
                 <li>
    Cultural Significance: The oud became deeply embedded in Islamic culture, playing a central role in musical traditions across the Arab world, Persia, and beyond.
                  </li>
                </ul>
                We met at the wedding of our close friends and immediately found
                a common language, so a year later our first date happened.
              </p>
            </div>
          </div>
        </div>
        <div class="row timeline-element separline">
          <div class="timeline-date-panel col-xs-12 col-md-6 align-left">
            <div class="time-line-date-content">
              <p class="mbr-timeline-date mbr-fonts-style display-font">
                14th to 17th Century
              </p>
            </div>
          </div>
          <span class="iconBackground"></span>
          <div class="col-xs-12 col-md-6 align-left">
            <div class="timeline-text-content">
              <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">
                Medieval to Renaissance Era
              </h4>
              <p class="mbr-timeline-text mbr-fonts-style display-7">
                    Spread in Europe: As Islamic culture and trade routes expanded, the oud influenced European music, leading to the development of similar instruments like the lute.
    Divergence: While the oud continued to be popular in the Middle East and North Africa, European variations of the instrument diverged, leading to the emergence of distinct musical traditions.
              </p>
            </div>
          </div>
        </div>
        <div class="row timeline-element reverse separline">
          <div class="timeline-date-panel col-xs-12 col-md-6 align-left">
            <div class="time-line-date-content">
              <p class="mbr-timeline-date mbr-fonts-style display-font">
               18th Century to Present)
              </p>
            </div>
          </div>
          <span class="iconBackground"></span>
          <div class="col-xs-12 col-md-6 align-left">
            <div class="timeline-text-content">
              <h4 class="mbr-timeline-title pb-3 mbr-fonts-style display-font">
               Modern Revival and Globalization 
              </h4>
              <p class="mbr-timeline-text mbr-fonts-style display-7">
                    Revival: The oud experienced a revival in the late 19th and early 20th centuries, with renewed interest in traditional Middle Eastern music and culture.
    Global Influence: In the 20th and 21st centuries, the oud's influence spread globally, impacting diverse musical genres and cultures beyond its traditional roots.
    Innovation: Modern innovations in oud construction and playing techniques continue to evolve, reflecting both tradition and contemporary influences.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Story -->



    <!-- Start Family -->
    <div id="OudDesign" class="family-box">
     <div class="about-a1">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <br />
              <div class="title-box">
                <!-- <h2>Design of Oud</h2> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="row align-items-center about-main-info">
                <div class="col-lg-8 col-md-6 col-sm-12">
                  <h2>Design of <span>ouds</span></h2>
                  <p>
                    The sound of the Oud vibrates within its hollow body. It is made of a rounded back, which is enclosed with a soundboard, a flat sheet of wood, whereas, the backside of it is made of 15-25 strips of wood. Usually, the open side of the back portion is known as the rosette.
There are mainly 2 distinctive features of this musical instrument- one is its pear-shaped body and the second is its fretless neck. On the other hand, the body of this instrument has 1-3 sound holes, which usually remains decorated with purfling. But this decoration never creates a bad impact on its sound quality. Oud’s body usually looks like a big gourd and it is made of a complex system of thin wood staves. The upper part of this instrument on other hand is made of lightwood.
                  </p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="about-img">
                    <img
                      class="img-fluid rounded"
                      src="../static/images/Design of ouds.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Family -->

<div style="height: 100px;"></div>
       <!-- Start Events -->
    <div id="PlayingTechniques" class="events-box">
      <div class="container">
        <!-- <div class="row">
          <div class="col-lg-12">
            <div class="title-box">
              <h2>Playing Techniques</h2>
            </div>
          </div> -->
        </div>
         <div class="about-a1">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <br />
              <div class="title-box">
                <!-- <h2>Design of Oud</h2> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="row align-items-center about-main-info">
                <div class="col-lg-8 col-md-6 col-sm-12">
                  <h2>Playing  <span>Techniques</span></h2>
                  <p>
                    The sound of the Oud vibrates within its hollow body. It is made of a rounded back, which is enclosed with a soundboard, a flat sheet of wood, whereas, the backside of it is made of 15-25 strips of wood. Usually, the open side of the back portion is known as the rosette.
There are mainly 2 distinctive features of this musical instrument- one is its pear-shaped body and the second is its fretless neck. On the other hand, the body of this instrument has 1-3 sound holes, which usually remains decorated with purfling. But this decoration never creates a bad impact on its sound quality. Oud’s body usually looks like a big gourd and it is made of a complex system of thin wood staves. The upper part of this instrument on other hand is made of lightwood.
                  </p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="about-img">
                    <img
                      class="img-fluid rounded"
                      src="../static/images/Playing Techniques.jpg"
                      alt=""
                    />
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- End Events -->

<div style="height: 100px;"></div>
    <!-- Start Gallery -->
    <div id="gallery" class="gallery-box">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="title-box">
              <h2>Gallery</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <ul class="popup-gallery clearfix">
            <li>
              <a href="../static/images/gallery/gallery-01.jpg">
                <img
                  class="img-fluid"
                  src="../static/images/gallery/gallery-01.jpg"
                  alt="single image"
                />
                <span class="overlay"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a href="../static/images/gallery/gallery-02.jpg">
                <img
                  class="img-fluid"
                  src="../static/images/gallery/gallery-02.jpg"
                  alt="single image"
                />
                <span class="overlay"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a href="../static/images/gallery/gallery-03.jpg">
                <img
                  class="img-fluid"
                  src="../static/images/gallery/gallery-03.jpg"
                  alt="single image"
                />
                <span class="overlay"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a href="../static/images/gallery/gallery-04.jpg">
                <img
                  class="img-fluid"
                  src="../static/images/gallery/gallery-04.jpg"
                  alt="single image"
                />
                <span class="overlay"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a href="../static/images/gallery/gallery-05.jpg">
                <img
                  class="img-fluid"
                  src="../static/images/gallery/gallery-05.jpg"
                  alt="single image"
                />
                <span class="overlay"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a href="../static/images/gallery/gallery-06.jpg">
                <img
                  class="img-fluid"
                  src="../static/images/gallery/gallery-06.jpg"
                  alt="single image"
                />
                <span class="overlay"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a href="../static/images/gallery/gallery-07.jpg">
                <img
                  class="img-fluid"
                  src="../static/images/gallery/gallery-07.jpg"
                  alt="single image"
                />
                <span class="overlay"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a href="../static/images/gallery/gallery-08.jpg">
                <img
                  class="img-fluid"
                  src="../static/images/gallery/gallery-08.jpg"
                  alt="single image"
                />
                <span class="overlay"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a href="../static/images/gallery/gallery-09.jpg">
                <img
                  class="img-fluid"
                  src="../static/images/gallery/gallery-09.jpg"
                  alt="single image"
                />
                <span class="overlay"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a href="../static/images/gallery/gallery-10.jpg">
                <img
                  class="img-fluid"
                  src="../static/images/gallery/gallery-10.jpg"
                  alt="single image"
                />
                <span class="overlay"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a href="../static/images/gallery/gallery-11.jpg">
                <img
                  class="img-fluid"
                  src="../static/images/gallery/gallery-11.jpg"
                  alt="single image"
                />
                <span class="overlay"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a href="../static/images/gallery/gallery-12.jpg">
                <img
                  class="img-fluid"
                  src="../static/images/gallery/gallery-12.jpg"
                  alt="single image"
                />
                <span class="overlay"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a href="../static/images/gallery/gallery-13.jpg">
                <img
                  class="img-fluid"
                  src="../static/images/gallery/gallery-13.jpg"
                  alt="single image"
                />
                <span class="overlay"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a href="../static/images/gallery/gallery-14.jpg">
                <img
                  class="img-fluid"
                  src="../static/images/gallery/gallery-14.jpg"
                  alt="single image"
                />
                <span class="overlay"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a href="../static/images/gallery/gallery-15.jpg">
                <img
                  class="img-fluid"
                  src="../static/images/gallery/gallery-15.jpg"
                  alt="single image"
                />
                <span class="overlay"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></span>
              </a>
            </li>
            <li>
              <a href="../static/images/gallery/gallery-16.jpg">
                <img
                  class="img-fluid"
                  src="../static/images/gallery/gallery-16.jpg"
                  alt="single image"
                />
                <span class="overlay"
                  ><i class="fa fa-heart-o" aria-hidden="true"></i
                ></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- End Gallery -->
 

    <!-- Start Contact -->
    <div id="contact" class="contact-box">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="title-box">
              <h2>Contact with us</h2>
            </div>
          </div>
        </div>
        <!-- <div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
				  <div class="contact-block">
					<form id="contactForm">
					  <div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
								<div class="help-block with-errors"></div>
							</div>                                 
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<select class="custom-select d-block form-control" id="guest" required data-error="Please select an item in the list.">
								  <option disabled selected>Number Of Guest*</option>
								  <option value="1">1</option>
								  <option value="2">2</option>
								  <option value="3">3</option>
								  <option value="4">4</option>
								  <option value="5">5</option>
								</select>
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<select class="custom-select d-block form-control" id="event" required data-error="Please select an item in the list.">
								  <option disabled selected>I Am Attending*</option>
								  <option value="1">All events</option>
								  <option value="2">Wedding ceremony</option>
								  <option value="3">Reception party</option>
								</select>
								<div class="help-block with-errors"></div>
							</div> 
						</div>
						<div class="col-md-12">
							<div class="form-group"> 
								<textarea class="form-control" id="message" placeholder="Your Message" rows="8" data-error="Write your message" required></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="submit-button text-center">
								<button class="btn btn-common" id="submit" type="submit">Send Message</button>
								<div id="msgSubmit" class="h3 text-center hidden"></div> 
								<div class="clearfix"></div> 
							</div>
						</div>
					  </div>            
					</form>
				  </div>
				</div>
			</div> -->
      </div>
    </div>
    <!-- End Contact -->

    <!-- Start Footer -->
    <footer class="footer-box">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="footer-company-name">
              All Rights Reserved. &copy; 2024
              <b>Maqam Oud App</b> Developed and designed by <b>Mohamed Said (TP079177)</b> Supervided By
              <b>Assoc. Prof. Ts. Dr.Vinothini Kasinatha</b>
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
    <!-- <style>
      #chat-iframe {
        width: 800px;
        height: 600px;
        border: none; /* Optional: Removes iframe border */
      }
    </style> -->
    
<button id="chatbot-toggle-btn">
  <img src="../static/images/bubble-chat.png" alt="buttonpng" />
</button>
<div class="chatbot-popup" id="chatbot-popup">
  <iframe src="/chat" class="chat-iframe" id="chat-iframe"></iframe>
  <!-- <div class="chat-box" id="chat-box"></div>
  <div class="chat-input">
    <input type="text" id="user-input" placeholder="Type a message..." />
    <button id="send-btn">Send</button>
  </div> -->
</div>

<style>
  /* Custom styles for the modal */
  .modal {
    display: none;
  }

  /* Style for selected avatar */
  .avatar-selected {
    border: 2px solid #a89c8e; /* Blue border color */
    border-radius: 50%;
  }

  /* Style for selected avatar name */
  .avatar-selected-name {
    color: #923214; /* Set color to blue */
  }

  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
    transition-duration: 150ms;
    background-color: #a89c8e;
  }
</style>

<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true" id="ChatSettingsModal" style="display: none;">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <!--
      Background overlay, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <!--
      Modal panel, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        To: "opacity-100 translate-y-0 sm:scale-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100 translate-y-0 sm:scale-100"
        To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
    -->
    <div class="inline-block align-center bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="flex items-start">
          <!-- Image and text container -->
          <div class="flex items-center flex-grow">
            <!-- Replace the SVG icon with an img tag -->
            <img class="h-16 w-16 rounded-full" src="static/Images/Oud.jpg" alt="Avatar Image">
            <h3 class="text-lg leading-6 font-medium text-gray-900 ml-4" id="modal-title">Chatbot Settings</h3>
          </div>
        </div>
        <br/>
        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
          <div class="mt-2">
            <p class="text-sm text-gray-500">
              <p id="greeting"></p>
              <label for="username" id="usernameLabel">Please choose your name:</label>
              <input type="text" id="username" name="username" class="mt-1 p-2 border border-gray-300 block w-full rounded-md">
            </p>
          </div>
          <br/>
          <div class="mt-2">
            <p class="text-sm text-gray-500">
              Please Select Your Avatar:
            </p>
            <div id="avatarOptions" class="mt-2 flex flex-wrap justify-center"></div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button id="saveSettings" type="button" class="select-none rounded-lg bg-green-500 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-green-500/20 transition-all hover:shadow-lg hover:shadow-green-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
          Save Settings
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("chatbot-toggle-btn").addEventListener("click", function () {
    // Check if both 'username' and 'avatar' session variables are null
    var username = sessionStorage.getItem("username");
    var avatar = sessionStorage.getItem("avatar");
    var usernameInput = document.getElementById("username");
    var avatarOptions = document.querySelectorAll('.avatar-option');
    if (!username || !avatar) {
      // Clear username input
      usernameInput.value = "";
      // Clear selected avatar
      avatarOptions.forEach(function(option) {
        option.classList.remove('avatar-selected');
      });
      // Show settings modal
      document.getElementById("ChatSettingsModal").style.display = "block";
      greetUser(); // Call function to greet user
    } else {

      
      // Set the src attribute of the chat-iframe to display the chat
      document.getElementById("chat-iframe").src = "/chat";
    }
  });

  // Function to greet user and manage avatar options
  function greetUser() {
    var today = new Date();
    var hour = today.getHours();
    var greeting;
    var username = sessionStorage.getItem("username");
    var usernameLabel = document.getElementById("usernameLabel");
    if (username) {
      usernameLabel.textContent = "Please modify your name"; // Change label text
      document.getElementById("greeting").innerHTML = "Hello, " + username + "!"; // Greet with username if available
    } else {
      usernameLabel.textContent = "Please choose your name"; // Change label text
      // if (hour < 12) {
      //   greeting = "Good morning";
      // } else if (hour < 18) {
      //   greeting = "Good afternoon";
      // } else {
      //   greeting = "Good evening";
      // }
      // document.getElementById("greeting").innerHTML = greeting;
    }

    var avatar = sessionStorage.getItem("avatar");
    if (avatar) {
      // Highlight selected avatar if available
      var selectedAvatar = document.querySelector('img[src="' + avatar + '"]');
      if (selectedAvatar) {
        var allAvatars = document.querySelectorAll('.avatar');
        allAvatars.forEach(function(avatar) {
          avatar.classList.remove('avatar-selected');
        });
        var allAvatarNames = document.querySelectorAll('.avatar-name');
        allAvatarNames.forEach(function(name) {
          name.classList.remove('avatar-selected-name');
        });
        selectedAvatar.classList.add('avatar-selected');
        selectedAvatar.nextElementSibling.classList.add('avatar-selected-name');
      }
    }
  }

  // Function to add avatar options dynamically
  function addAvatarOptions() {
    var avatarOptionsDiv = document.getElementById('avatarOptions');
    // Array of avatar image URLs and names
    var avatars = [
      { url: "../static/images/avatars/avatar1.jpg", name: "Dr Vino" },
      { url: "../static/images/avatars/avatar2.jpg", name: "Mohamed" },
      { url: "../static/images/avatars/avatar3.jpg", name: "Tarmini" },
      { url: "../static/images/avatars/avatar4.jpg", name: "Henry Chai" },
      { url: "../static/images/avatars/avatar5.jpg", name: "Wong yee" }
    ];
    avatars.forEach(function (avatar, index) {
      var div = document.createElement('div');
      div.classList.add('avatar-option', 'flex', 'flex-col', 'items-center', 'mx-2', 'mb-4', 'cursor-pointer', 'select-none'); // Added flex layout and margin bottom
      var img = document.createElement('img');
      img.src = avatar.url;
      img.alt = 'Avatar';
      img.classList.add('avatar', 'w-16', 'h-16', 'rounded-full', 'mb-2', 'border', 'border-transparent', 'hover:border-blue-400');

      div.appendChild(img);

      // Add avatar name
      var p = document.createElement('p');
      p.textContent = avatar.name;
      p.classList.add('avatar-name', 'text-sm', 'text-gray-700');
      div.appendChild(p);

      // Add event listener to handle selection when clicking avatar image or name
      div.addEventListener('click', function() {
        var allAvatars = document.querySelectorAll('.avatar');
        allAvatars.forEach(function(avatar) {
          avatar.classList.remove('avatar-selected');
          avatar.classList.remove('border-blue-400');
        });
        var allAvatarNames = document.querySelectorAll('.avatar-name');
        allAvatarNames.forEach(function(name) {
          name.classList.remove('avatar-selected-name');
          name.classList.remove('text-blue-500');
        });
        img.classList.add('avatar-selected');
        img.classList.add('border-blue-400');
        p.classList.add('avatar-selected-name');
        p.classList.add('text-blue-500');
      });

      avatarOptionsDiv.appendChild(div);
    });
  }

  // Call the function to add avatar options
  addAvatarOptions();

  // Function to save user settings
  document.getElementById("saveSettings").onclick = function () {
    var username = document.getElementById("username").value;
    var selectedAvatar = document.querySelector('.avatar-selected');

    if (username && selectedAvatar) {
      // Save settings in session storage
      sessionStorage.setItem("username", username);
      sessionStorage.setItem("avatar", selectedAvatar.getAttribute('src'));
      // Close the modal
      document.getElementById("ChatSettingsModal").style.display = "none";
      // // Set the src attribute of the chat-iframe to display the chat
      // document.getElementById("chat-iframe").src = "/chat";

      // Check if both 'username' and 'avatar' session variables are set
      var savedUsername = sessionStorage.getItem("username");
      var savedAvatar = sessionStorage.getItem("avatar");
      if (savedUsername && savedAvatar) {
        // Set the src attribute of the chat-iframe to display the chat
        document.getElementById("chat-iframe").src = "/chat";
        
      }
      
    } else {
      alert("Please enter your name and select an avatar.");
    }
  };
</script>


    <!-- ALL JS FILES -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/js/jquery.pogo-slider.min.js"></script>
    <script src="../static/js/slider-index.js"></script>
    <script src="../static/js/smoothscroll.js"></script>
    <script src="../static/js/form-validator.min.js"></script>
    <script src="../static/js/contact-form-script.js"></script>
    <script src="../static/js/custom.js"></script>
    <script src="../static/js/ChatButtonScript.js"></script>
  </body>
</html>
